@{
    ViewBag.Title = "Home Page";
}
<br />
<link href="~/Content/Site.css" rel="stylesheet" />


        <div class="row text-center" >
            
                <div id="map">
                    <script src="~/Scripts/GoogleMaps.js"></script>

                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0k_ZuNHAnpb_GWxb9bVNGU-w7MbYcFWI&callback=initMap"

                            async defer>

                    </script>

  
            </div>
        </div>
               






